*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding: 4rem;
    background-color: #121312;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 2rem 2rem 0;
    padding: 2rem;
    width: 250px;
    height: 300px;
    background: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.card-img{
    display: flex;
    justify-content: center;
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-title{
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    margin: 2rem;
}

h1{
    text-align: center;
    color: #fff;
}

.pagination-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.btn{
    width: 2rem;
    height: 2rem;
    background-color: lightblue;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}

.active{
    background-color: orange;
    color: #fff;
}